<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a burger you want to eat! Click the "submit" button.</h2>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
