body{
  background-position: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body,
.container-flex {
  text-align: center
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters >.col, 
.no-gutters >[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}


.btn-group-sm>.btn, .btn-sm {
  padding: .0rem .5rem;
  font-size: .8rem;
  line-height: 1.5;
  border-radius: .2rem;
}